<div>
    <table id="table_id" class="table table-striped table-bordered">
        <thead style="color: black">
            <tr style="text-align:center">
                <th style="text-align:center; background-color:white; width:auto">
                    Trans_ID
                </th>
                <th style="text-align:center; background-color:white; width:auto">
                    Voucher No
                </th>
                <th style="text-align:center; background-color:white; width:auto">
                    Project No
                </th>
                <th style="text-align:center; background-color:white; width:auto">
                    File/Voucher
                </th>
                @*<th style="text-align:center; background-color:white; width:auto">
                        File Name
                    </th>*@
                <th style="text-align:center; background-color:white; width:auto">
                    Type
                </th>
                @*<th style="text-align:center; background-color:white; width:auto">
                        Page Count
                    </th>
                    <th style="text-align:center; background-color:white; width:auto">
                        Uploaded By
                    </th>*@
                <th>
                </th>
                <th></th><th></th>
        </thead>
    </table>
</div>

@*<script type="text/javascript">
        $(document).ready(function () {

            $('#table_id').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": '../WSDatatable.asmx/GetData_Accounts',
                "sServerMethod": "post",
                "aoColumns": [
                    { 'data': 'accounts_trx_id' },
                    { 'data': 'voucher_no' },
                    { 'data': 'project_no' },
                    { 'data': 'file_voucher' },
                    { 'data': 'file_Namee' },
                    { 'data': 'page_count' },
                    { 'data': 'uploadedBy' },
                    { 'data': 'is_active' },
                    {
                        'data': 'path', "render": function (data) {
                            var link = "../Accounts/ViewDoc?iID=" + data;
                            return "<a href=" + link + " target=_blank>View</a>"
                        },
                        "orderable": false
                    },
                    {
                        'data': 'path', "render": function (data) {
                            var link = "../Accounts/Download?iID=" + data;
                            return "<a href=" + link + ">Download</a>"
                        },
                        "orderable": false
                    }],
                "order": [0, "desc"],
                "language": {
                    "emptyTable": "No data available"
                }
            });
        });


    </script>*@


<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').dataTable({
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "ajax": {
                "url": '../Accounts/LoadData',
                "type": 'POST',
                "datatype": 'json'
            },
            "columns": [
                { 'data': 'accounts_trx_id', 'name': 'accounts_trx_id' },
                { 'data': 'voucher_no', 'name': 'voucher_no' },
                { 'data': 'project_no', 'name': 'project_no' },
                { 'data': 'file_voucher', 'name': 'file_voucher' },
                //{ 'data': 'file_Namee', 'name': 'file_Namee' },
                { 'data': 'is_spon', 'name': 'is_spon' },
                //{ 'data': 'page_count', 'name': 'page_count' },
                //{ 'data': 'uploadedBy', 'name': 'uploadedBy' },
                {
                    'data': 'path',
                    "render": function (data) {
                        var link = '../Accounts/ViewDoc?iID=' + data;
                        return "<a href=" + link + " target=_blank>View</a>"
                    }, "orderable": false
                },
                {
                    'data': 'path', "render": function (data) {
                        var link = '../Accounts/Download?iID=' + data;
                        return "<a href=" + link + ">Download</a>"
                    }, "orderable": false
                },
                {
                    'data': 'path', "render": function (data) {
                        var link = '../Accounts/Add?iID=' + data;
                        return "<a href=" + link + ">_Add</a>"
                    }, "orderable": false
                }],
            'dom': 'lBfrtip',
            'buttons': ["excelHtml5", "pdfHtml5"],
            "language": {
                "emptyTable": "No data available"
            }
        });

        //$.ajax({
        //    processing: true,
        //    serverSide: true,
        //    url: '../WSDatatable.asmx/GetData_Accounts',
        //    method: 'POST',
        //    dataType: 'json',
        //    success: function (data) {
        //        $('#table_id').dataTable({
        //            serverside: true,
        //            DeferRender: true,
        //            data: data,
        //            columns: [
        //                { 'data': 'accounts_trx_id' },
        //                { 'data': 'voucher_no' },
        //                { 'data': 'project_no' },
        //                { 'data': 'file_voucher' },
        //                { 'data': 'file_Namee' },
        //                { 'data': 'page_count' },
        //                { 'data': 'uploadedBy' },
        //                { 'data': 'is_active' },
        //                {
        //                    'data': 'path', "render": function (data) {
        //                        var link = "../Accounts/ViewDoc?iID=" + data;
        //                        return "<a href=" + link + " target=_blank>View</a>"
        //                    },
        //                    "orderable":false
        //                },
        //                {
        //                    'data': 'path', "render": function (data) {
        //                        var link = "../Accounts/Download?iID=" + data;
        //                        return "<a href=" + link + ">Download</a>"
        //                    },
        //                    "orderable": false
        //                }],
        //            "order":[0,"desc"],
        //            "language": {
        //                "emptyTable": "No data available"
        //            }


        //        });
        //    }
        //});
    });
</script>
